# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
/src/main/java/kogasastudio/ashihara/interaction/loot/AddRandomStackModifier.javak
/.gitattributes
/src/main/java/kogasastudio/ashihara/interaction/loot/AddTableModifier.javak
/forge-1.20.1-47.0.35-mdk/src/main/java/com/example/examplemod/Config.java
/resource/examplemod/Config.java
/forge-1.20.1-47.0.35-mdk/src/main/java/com/example/examplemod/ExampleMod.java
/resource/examplemod/ExampleMod.java
/forge-1.20.1-47.0.35-mdk.zip
/forge-1.20.1-47.0.35-mdk/LICENSE.txt
/src/main/java/kogasastudio/ashihara/interaction/loot/GLMRegistryHandler.javak
/forge-1.20.1-47.0.35-mdk/src/main/resources/META-INF/mods.toml
/forge-1.20.1-47.0.35-mdk/src/main/resources/pack.mcmeta
/forge-1.20.1-47.0.35-mdk/README.txt
/resource/stripped_acacia_log.png
/resource/stripped_acacia_log_top.png
/resource/deprecated/stripped_red_log.png
/resource/deprecated/stripped_red_log_top.png
/resource/调色数据.txt
